* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans";
  background: linear-gradient(#ffffff, #fff4f4);
  height: 100vh;
}

.logo--sm {
  margin: 1.5em auto 1.5em 10%;
  max-width: 100px;
}

.logo--lg {
  max-width: 158px;
  display: none;
}

.image--hero--sm {
  text-align: center;
}
.image--hero--sm img {
  max-width: 100%;
}

.image--hero--lg {
  display: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 3em;
  max-width: 450px;
}

.container h1 {
  text-transform: uppercase;
  letter-spacing: 0.375em;
  font-weight: 600;
  font-size: 2.5rem;
}

.container p {
  margin-top: 1.5em;
}

.text--accent {
  color: #ce9898;
  font-weight: 300;
}

.container p {
  color: #ce9898;
  font-size: 0.875rem;
  line-height: 1.75em;
}

#form {
  margin-top: 1em;
  border: #ce9898 solid 1px;
  display: flex;
  border-radius: 32px;
  padding-left: 1.25em;
}

#form input {
  border: none;
  width: 100%;
  background: transparent;
}

#form input:focus {
  outline: none;
}

#form ::placeholder {
  color: #ce9898;
}

#form button {
  background: linear-gradient(#f8bfbf, #ee8b8b);
  border: none;
  padding: 0.75em 1.75em;
  border-radius: 32px;
}

@media (min-width: 950px) {
  .logo--sm {
    display: none;
  }

  .logo--lg {
    display: block;
    margin: 4em 0;
  }

  .image--hero--sm {
    display: none;
  }

  .image--hero--lg {
    display: block;
    margin: auto 0;
    max-width: 50%;
  }
  .image--hero--lg img {
    max-height: 100%;
    max-width: 100%;
  }

  .container {
    width: 90%;
    padding-top: 0;
    text-align: start;
    max-width: none;
    display: flex;
    margin-right: 0;
    margin-left: auto;
    height: 100%;
  }

  .container h1 {
    font-size: 4rem;
  }

  .container p {
    font-size: 1rem;
  }

  .content {
    margin-right: auto;
    width: 40%;
    max-width: 420px;
  }
}
